@import 'mixin';


#container{
    position: relative;
    height: 100vh;
    z-index:200;
    transition: all 0.5s;
  }

.mobile-menu{
    &__cover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 300;
        background-color: rgba($color: #000000, $alpha: 0.3);
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
      }
      &_bottom{
        position: fixed;
        right: 0;
        top: 100px;
        width: 180px;
      }
      &__main {
        padding: 0;
        perspective: 2000px;
        transform-style: preserve-3d;
        text-align: center;
    }
    &__item {
        list-style: none;
        display: block;
        transform: translate3d(0, 0, -1000px);
        padding: 0 5px;
        transition: transform 0.5s, opacity 0.4s;
        opacity: 0;
    }
    &__link {
        display: block;
        margin-top: 30px;
        color: black;
        text-decoration: none;
        & > span {
            font-size: 27px;
            font-weight: lighter;
        }
    }
}

.menu-open{

    // & .cover{
    //     overflow: hidden;
    // }

    & #container{
        transform: translate(-180px, 80px);
        overflow: hidden;
    }

    & .mobile-menu{
        &__cover{
        // background-attachment: fixed;
        position: fixed;
        height:450%;
        opacity: 1;
        visibility: visible;
        }
        &__item {
            transform: none;
            opacity: 1;


            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * 0.07s;
                }
            }
            
        }

        &_button{
            z-index: 350;
            & > span{
            &:nth-child(1){
                transition-delay: 0.2s;
                transform: translateY(11px) rotate(135deg);
                }
            &:nth-child(2){
                transition-delay: 0.2;
                transform: translateY(-18px) scaleX(0);
                }
            &:nth-child(3){
                transition-delay: 0.4s;
                transform: translateY(-11px) rotate(-135deg);
                }
            }
        }
    }
}
