// @import './base';
.top-page{
  .home_content{
    top: 56%;
    width: 30%;
 max-width: 500px;
  }
}
.home-title{
  font-size: 15vh;
}
.home-subtitle{
  color: white;
  &.top{
    font-size:4vh;
    font-weight: bold;
  }
  &.bottom{
    // font-weight: lighter;
    font-size: 4vh;
  }
}

// .recruit{
//   &-title{
//     width: 58%;
//     & > h3{
//       font-size: 20px;

//     }
//   }
//   &-info{
//     & > p{
//       font-size: 15px;
//     }
//      }
// }
#p{
  font-size: 15px;
  left: -15px;
}

.swiper-slide-content{
  top: 40%;
  width: 40%;
  max-width: 900px;
  & > h2{
    font-size: 46px;
    margin-bottom: 26px;
  }
  & > p{
    font-size: 25px;
  }
}

@keyframes updown{
  0% {
      opacity:0;
      transform: translateY(50%);
  }
  70%{
      opacity: 0.3;
      // transform:  translateY(49%);
  }
  100% {
      opacity:1;
      transform: translateY(0%);
  }
}


.news-date{
  & >p{
    font-size: 20px;
  }
}

.header{
  height: 65px;
  &_inner{
    top: 0px;
  }
}

.footer-bottom-copyright{
  width: 240px;
  bottom: 20px;
  right:115px;
  font-size: 16px;
}
.footer-logo{

  width:240px;

  right: 115px;

}

.center{

  & > .ul-small{
    font-size: 18px;
    font-style: noen;;
  }
  & > .ul-big{
    font-size: 24px;
  }
}
