/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
.top-page{
  .home{
    &_content{
      width: 40%;
    }
  }
}
.home-title{
  font-size: 13vh;
}
.home-subtitle{
  color: white;
  &.top{
    font-size:2vh;
    font-weight: bold;
  }
  &.bottom{
    // font-weight: lighter;
    font-size: 2vh;
  }
}



.contact{

    position: relative;
    // top: 4%;
    width: 90%;
    height: 80%;
    // top: -135px;
}


  .center{
    margin: 0;
    position: relative;
    left: 12px;
    bottom: -45%;
    padding: 0;
    & > .ul-small{
      font-size: 11px;
      font-style: noen;;
    }
    & > .ul-big{
      font-size: 13px;
    }
  }
  .recruit{
    &-content{

      & h2{
        margin: 0;
        position: relative;
      }
      & > p{
        position: relative;
        margin:0;
        font-size:13px;
      }
    }
  }
  #p{
    // font-weight: bold;
    font-size: 12px;
  }

  .swiper-slide-content{
    & > h2{
      font-size: 28px;
      margin-bottom: 20px;
    }
    & > p{
      font-size: 15px;
    }
  }


.feature{
    &_title{
      font-size: 20px; 
    }
    &_comment{

      font-size: 12px;
          // margin: 20px aut;
    }
  }

  .news{
    &-img{
      height: 40%;
      width: 23%;
      left: 6%;
    }
    &-date{
      height: 60%;
      width: 23%;
      left: 6%;
      & >p{
        font-size: 14px;
      }
    }

    &-title{
      & > h2{
        font-size: 22px;
        // margin: 10px;
      }
    }
    &-comment{
      & > p{
        font-size: 15px;
      }
    }
  }

  .footer{
    height: 250px;
  }
  