@import './base';

.top-page{
  .home_content{
    top: 56%;
    width: 40%;
  }
}

.home-title{
  font-size: 100px;
}
.home-subtitle{
  color: white;
  &.top{
    font-size:25px;
    font-weight: bold;
  }
  &.bottom{
    // font-weight: lighter;
    font-size: 21px;
  }
}


.header{
  // height: 160px;
  &_nav{
    display: flex; 
    // @extend .font-md;
    font-size: 17px;
    font-weight: bold;
    
  }
  &-button{
    display: inline;
  }
  &_ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &_li{
    margin-left: 20px;
  }
}


.mobile-menu{
  display: none;
}

.feature{
  position: relative;
  // background-color: rgba($color: #cccccc, $alpha: 0.6);
  // top: -30px;
  height: 800px;



  &-main{
    position: relative;
    margin: 0 auto;
    width: 95%;
    top: 40px;
    left: 2px;
    height: 620px;
    // max-width: 1200px;
    display: flex;
    text-align: center;

    // justify-content: space-between;
    // align-items: start;
    flex-direction: row;
  
  }
  &-content{
    position: relative;
    border: solid 1px;
    // border-color:rgba($color: #9e9c9c, $alpha: 0.5);
    height: 100%;
    width: 25%;
    @for $i from 1 through 3{
      &:nth-child(#{$i}){
        border-right: 0.5px;
      }
    }
  }
  &-img{
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    height: 170px;
    & > img{
      width: 100%;
      height: 100%;
    }
  }
  &_description{
      position: absolute;
      top: 180px;
      // background-color: black;
      height: 420px;
      width: 100%;
      left: 0;
      // text-align: center;      
      // margin: 0;
  }

  &_title{
    position: absolute;
    top: 50px;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    & > h{
      padding-bottom: 10px;
    }

  }
  &_comment{
    position: absolute;
    top: 100px;
    left: 3%;
    right: 3%;
    width: 80%;
    margin: 0 auto;
    height: 250px;
    text-align: center;
    font-size: 19px;
  }
}

// .service-title{
//   // background-color: gray;
//   text-align: center;
//   color: #38210d;
//   font-weight: normal;
//   font-size: 40px;
// }
.service{
  top: 40px;
}


.recruit{
  position: relative;
  top: 10px;
  width: 100%;

  
  &-main{
    flex-direction: row;
    justify-content:space-between;
  }
  &-info{
    &.title{
      left: 12px;
      width: 111%;
    }
  }

  &-content{
    position: relative;
    width: 30%;
    height: 550px;
    flex-direction: column;
    margin-bottom: 0px;
  }

  &-img{

    width: 100%;
    height: 60%;
    vertical-align: middle;
    overflow: hidden;
    & > img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &-description{
    position: relative;
    height: 100%;
    width: 90%;
    top: 0;
    margin-top: 15px;
    left: 5%;
    right: 5%;
    // display: flex;
    justify-content:space-evenly;
    // flex-direction: column;
  }
  &-job{
    margin: 0;
    height: 40px;
    width: 100%;
  }
  &-title{
    // position: relative;
    width: 55%;
    margin-right: 2px;
    & > h3{    
      font-size: 19px;
    }
  }
  &-info{
    & > p{  
      font-size:15px;
    }
  }
}
#p{
  font-size: 14px;
  left: -15px;
}


.swiper-slide{
  height: 800px;
}
.swiper-slide-content{
  top: 40%;
  width: 50%;
  & > h2{
    font-size: 40px;
    margin-bottom: 26px;
  }
  & > p{
    font-size: 23px;
  }
}

.border{

  top: 10%;
}

.contact{
  top: 20px;
  width: 80%;
  height: 750px;
}

.center{

  & > .ul-small{
    font-size: 18px;
    font-style: noen;;
  }
  & > .ul-big{
    font-size: 24px;
  }
}
.footer-top{
  // position: absolute;
  top: 0px;
  // left: 10px;
  width: 135px;
  & >p{
    font-size: 2rem;
  }
}
.footer-bottom-copyright{
  width: 240px;
  bottom: 20px;
  right:115px;
  font-size: 16px;
}
.footer-logo{

  width:240px;

  right: 115px;

}


.news{
  top: 20px;
  &-img{
    height: 60%;
    width: 15%;
    left: 5%;
  }
  &-date{
    height: 40%;
    width: 15%;
    left: 5%;
    & >p{
      font-size: 18px;
    }
  }
  &-detail{
    left: 22%;
  }
  &-title{
    width: 80%;
    & > h2{
      font-size: 30px;
      // margin: 10px;

    }
  }
  &-comment{
          width: 80%;
    & > p{
      font-size: 19px;
    }
  }
}

@keyframes updown{
  0% {
      opacity:0;
      transform: translateY(50%);
  }
  70%{
      opacity: 0.3;
      // transform:  translateY(49%);
  }
  100% {
      opacity:1;
      transform: translateY(0%);
  }
}

.footer{
  height: 300px;
}
.center{
  top: 42%;
}


  .header{
    height: 65px;
    &_inner{
      top: 0px;
    }
}