@import '../modules/variables';


body{
  font-family: 'Roboto Condensed', 'Roboto Condensed', sans-serif;
  margin: 0;
  background-color: rgba($color: #e6e4e4, $alpha: 0.2);
  
}

.input_button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 18px 22px;   /* 余白       */
  background    :  #c91c1c;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 4px 4px 3px #5f0303;  /* 影の設定 */
  


  // border        : 2px solid #000066;    /* 枠の指定 */
}
.input_button:hover {
  box-shadow    : none;  /* 影の設定 */
  
  color         :white;   /* 背景色     */
  background    : #d45130;     /* 文字色     */
}

ul{
  list-style: none;
}
.main-title{
  & > span{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto Condensed';
  }
}
img {
  max-width: 100%;
  vertical-align: bottom;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}
.border{
  position: relative;
  background-color: black;
  height: 1px;
  width: 100%;
  top: 4%;
  margin-bottom: 5%;

}

.cp_iptxt {
	position: relative;
	width: 80%;
  margin: 40px 3%;
  font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
  padding-left: 4em;
  &:focus{
    outline: none;
  }
}
.ef {
	padding: 7px 14px;
	transition: 0.4s;
	border: 1px solid #1b2538;
  background: transparent;
  & > .focus-line{
    &::after{
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 2px;
      content: '';
      transition: 0.2s;
      transition-delay: 0.2s;
      background-color: #da3c41;
    }
    & > i{
      &::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 0;
        content: '';
        transition: 0.2s;
        background-color: #da3c41;

      }
      &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 0;
        content: '';
        transition: 0.2s;
        background-color: #da3c41;

      }
    }
  }
}




// @import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

.btn{
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1;

  display: inline-block;
  padding: 1rem 4rem;
  margin: 0px 20px;
  cursor: pointer;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  // -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  // border-radius: 0.5rem;
  outline: none;

  &--circle{
    width: 100px;
  height: 50px;
  padding: 0px 0 0;
  // border-radius: 20%;
  color: #fff;
  background-color: rgba($color: #c91c1c, $alpha: 1.0);
  box-shadow: 0 7px 0 #911717;
  & > i {
    font-size: 230%;

  }

  &:hover{
    transform: translate(0, 4px);
    color: #fff;
    box-shadow: 0 3px 0 #2c2929;
    background-color: rgb(235, 137, 113);
  }
  }
}
.fa-position-bottom {
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 0.5rem);
}

header{
  margin: 40px auto 50px auto;
  padding: 20px;
  & >h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: -10px;
  }
  & > h2{
    margin-top: 0;
    text-align: center;
    // font-weight: bold;
    font-size: 22px;
  }
}

h2{
  text-align: center;
  // color: #38210d;
  font-weight: normal;
  font-size: 35px;
}
p{
  text-align: center;
  // color: #38210d;
  font-weight: normal;
}


a {
  text-decoration: none;
  color: #291d05;
  &:hover{
    color: rgb(211, 108, 12);
  }

}
// #container{
//   position: relative;
//   height: 100vh;
//   z-index:200;
//   transition: all 0.5s;
// }

.line{
  background-color: white;
  height: 2px;
  width: 100%;
}


.header{
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color:rgba($color: #ffffff, $alpha: 0.5);
  z-index: 1000;
  margin: 0;

  &:hover{
    background-color: white;
  }

  &_inner{
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

  }
  &-button{
    display: none;
    & > .btn{
      position: absolute;
      top :30px;
      right: 50px;
    }
  }
  &_li{
    color: rgba($color: #291d05, $alpha: 1.0);
    font-size: 20px;
    & > a{
      font-style: none;
    }
  }
  &_nav {
    display: none;
    position: absolute;
    top: 45px;
    right: 200px;
  }

  &_logo{
    position: absolute;
    top: 30px;
    left: 20px;
    width: 200px;
    
  }

    & > img{
      position: relative;
      width: 100%;
      height: 100%;
    }
  }


.mobile-menu{
  position: absolute;
  right: 20px;
  top: 40px;
  width: 50px;

  &_button {
    position: fixed;
    background-color: unset;
    border: none;
    outline: none;
    right: 15px;
    cursor: pointer;
    & > span{
      background-color: black;
      height: 2px;
      width: 40px;
      display: block;
      margin-bottom: 9px;
      transition: transform 0.7s;
    }
  }
}


.top-page{
  // top: 100px;
  margin: 0;
  position: relative;
  height: 100vh;
  & .home{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    
    &-image{
      position: relative;
      width: 100%;
      height: 100%;
      & > img {
        position: relative;
        width: 100%;
        height: 100%;
        transform: scale(1.1);
        transition: all 0.4s;
        &:hover {
          transform: scale(1); 
        }
      }
    }

      &_content{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        max-width: 600px;
        transform: translate(-50%, -50%);
        text-align: center;

      }
  }
}
.home-title{
  font-size: 55px;
  margin: 0;
  color: white;
  font-weight: bold;
  border-bottom: solid 4px white;
  & > h1{
    margin: 0;
  }
}
.home-subtitle{
  color: white;
  &.top{
    font-size:15px;
    font-weight: bold;
  }
  &.bottom{
    // font-weight: lighter;
    font-size: 12px;
  }
}
.main-page{
// top: 100px;
  position: relative;
  // width: 100%;
  // height: 100%;
}
#feature{
    // feature
  background-color: black;
  z-index: 1000;
  position: absolute;
  height: 0px;
  width: 100%;
  top: -200px;
}

.feature{
  position: relative;
  // background-color: rgba($color: #e6e4e4, $alpha: 0.6);
  top: -40px;
  height: 800px;
  // display: flex;
  & > header{
    position: relative;
    top: 40px;
  }

  & > h{
    position: relative;
    top: 45px;
    text-align: center;
    margin-bottom: 30px;
  }

  &-main{
    position: relative;
    margin: 0 auto;
    width: 95%;
    left: 2%;
    top: 40px;
    height: 600px;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    // text-align: right;

  
  }
  &-content{
    position: relative;
    border: solid 0.4px rgba($color: #707070, $alpha: 1.0);
    height: 140px;
    width: 95%;
    margin-bottom: 15px;
    transition:all 0.3s;
    overflow: hidden;
    &:hover{
      box-shadow: 5px 5px 10px 0px rgba($color: #000000, $alpha: 1.0);

    }
  }
  &-img{
    position: absolute;
    // top: 15px;
    left: 0;
    width: 30%;
    height: 110px;
    & > img{
      width: 100%;
      height: 100%;
    }
  }
  &_description{
    position: absolute;
    // background-color: black;
    height: 100%;
    width: 70%;
    left: 40%;
    margin: 0;
  
  }

  &_title{
    position: relative;
    top: 2px;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    & > h{
      border-bottom: solid 2px;
      padding-bottom: 2px;
      text-align: left;
    }
  }

  &_comment{
    position: relative;
    
    text-align: left;
    // left: 0%;
    // right: 10%;
    width: 80%;
    font-size: 10px;
    height: 90px;
    margin: 13px 0;
    & > p{
      // font-size: 10px;
      text-align: left;
    }
  }
}

#service {
  background-color: black;
  z-index: 1000;
  position: absolute;
  width: 100%;
  // height: 100px;
  // height: 10px;
  // width: 100%;
  top: -20px;
}

.service{
  overflow: hidden;
  position: relative;
  top: 0px;

  // left: 0;
  width: 100%;
  // height: 200px;
  // background-color: rgba($color: #a89d96, $alpha: 0.4);


}

.swiper{
  &-container {
    position: relative;
    width: 100%;
    
    // max-width: 1000px;
    overflow: visible;
  }
  &-slide{
      height: 500px;

      &-content{
        z-index: 10000;
        position: absolute;
        left: 50%;
        top: 45%;
        height: 250px;
        width: 50%;
        max-width: 600px;
        transform: translate(-50%,-50%);
        text-align: center;
        // background-color: white;
        & >h2{
          color: white;
          font-size: 28px;
          font-weight: bold;
        }
          &>p{
            margin-top: 20px;
          font-size: 13px;
          margin-left: 3px;
          margin-right: 3px;
          text-align: left;

          color: white;
        }
      }

    & > img{
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: gray, $alpha:0.6);
    }
  }
}

#news{
  // height: 100px;
  width: 100px;
  position: relative;
  background-color: black;
  top: -115px;
}
.news-block{
  position: relative;
  width: 100%;
}
.news{
  position: relative;
  // top: -100px;
  &-container{
    position: relative;
    // top: -40px;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    // text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;

  }
  &-block{
    position: relative;
    margin-bottom: 15px;
    width: 100%;
    height: 180px;
    border-bottom: ridge 1px rgba($color: #4d4d4d, $alpha: 1.0);
  }
  &-img{
    position: absolute;
    top: 0;
    left: 2%;
    height: 40%;
    width: 30%;
    & > img{
      width: 100%;
      height: 100%;
    }
  }
  &-date{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 60%;
    & >p{
      font-size: 12px;
    }
  }
  &-detail{
    position: absolute;
    width: 70%;
    // background-color: black;
    // outline: inset;
    height: 90%;
    left: 30%;
    text-align: left;
    margin: auto 0;
  }
  &-title{
    width: 70%;
    margin: 0 auto;
    & > h2{
      margin: 0;
      font-size: 18px;
      text-align: left;
    }
  }
  &-comment{
    width: 70%;
    margin: 0 auto;
    & > p{
      font-size: 12px;
      text-align: left;
    }
  }

}

#recruit{
  
  background-color: black;
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100px;
  height: 0px;
  width: 100%;
  top: -190px;
}
.line2{
  position: relative;
  top: -15px;
  background-color: black;
  height: 1px;
  width: 100%;
}
.recruit{
  position: relative;
  // top: -115px;
  width: 100%;
  // height: 600px;
  // max-width: 1200px;
  
  &-main{
   
    position: relative;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;

    
  }
  &-content{
    background-color: white;
    position: relative;
    width: 100%;
    height: 230px;
    // border: ridge;
    display: flex;
    margin-bottom: 20px;
    &:hover{
      box-shadow: 5px 5px 10px 0px rgba($color: #000000, $alpha: 1.0);
    }
  }

  &-img{
    position: relative;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    vertical-align: middle;
    overflow: hidden;
    & > img{
      position: absolute;
      top: 25%;
      left: 5%;
      width: 95%;
      height: 50%;
      max-width: 100%;
      object-fit: cover;
      transition: all 0.6s;
      &:hover{
        transform: scale(1.2);
      }
    }
  }

  &-description{
    position: relative;
    height: 80%;
    width: 50%;
    top: 10%;
    left: 5%;
    right: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &-job{
    display: flex;
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
  }
  &-title{
    position: relative;
    width: 52%;
    margin-right: 10px;

    & > h3{
      margin: 0;
      position: relative;
      font-size: 14px;
      text-align: left;
    }
  }
  &-info{
    position: relative;
    width: 40%;
    position: relative;
    width: 90%;
    vertical-align: text-bottom;
    &.title{
      left: -5px;
      width: 111%;
    }
    & > p{
      position: relative;
      top: 1.5px;
      margin:0;
      vertical-align: text-bottom;
      font-size:10px;
      text-align: left;
    }
  }
}

#recruit_title{
  position: relative;
  top: -1%;
  text-align: center;

}
#p{
  font-weight: bold;
  font-size: 10px;
  position: relative;
  // left: -15px;
}
.recruit.inview{
  & .recruit-content{
      opacity: 0;
      @include animation(
          $name: updown,
          $duration: 0.6s,
          $timing-function: ease-in-out,
      );
      @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
          animation-delay: $i * 0.3s;
          }
      }
  }
}
@keyframes updown{
  0% {
      opacity:0;
      transform: translateX(-50%);
  }
  70%{
      opacity: 0.3;
      // transform:  translateY(49%);
  }
  100% {
      opacity:1;
      transform: translateX(0%);
  }
}


#form{
  
  background-color: black;
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100px;
  height: 0px;
  width: 100%;
  top: -190px;
}
.contact{

  position: relative;
  top: -15px;
  width: 93%;
  height: 750px;
  margin: 0 auto;
  &-form{
    position: relative;
    height: 600px;
    width: 100%;
    top: -30px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    & > p  {
      position: relative;
      top: 50px;
    }
    
    &:hover{
      box-shadow: 5px 5px 10px 0px rgba($color: #000000, $alpha: 1.0);
      // background-color: rosybrown;
    }
  }
  &-input{
    padding: 10px 20px;
    width: 60%;
    height: 30px;

    &.textarea{
      height: 200px;
    }
  }
}
.no-border{
  & > input{
    border-style: none;
    margin: 0;
  }
}


.footer{
  margin: 0;
  position: relative;
  top: 15%;
  width: 100%;
  height: 200px;
  background-image: url("../image/footer7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
   &-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #2600ff, $alpha: 0.1);
    }
    // background-color: black;
    
  //  flex-direction: column;
  }
  &-content{
    // background-color: red;
    width: 25%;
    height: 100%;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: bottom;
    color: white;
    z-index: 100;
    // font-weight: bold;
  }
}

.footer-logo{
  position: absolute;
  margin: 0;
  width:120px;
  max-width: 240px;
  height: 20px;
  right: 30px;
  top: 35px;
  // right: 10px;
  font-size: 1.2rem;
}
.footer-bottom-copyright{
  position: absolute;
  margin: 0;
  width:120px;
  height: 30px;
  bottom: 0px;
  right: 30px;
  font-size: 12px;
  text-align: right;
  & > p{
    text-align: right;
  }
}

.footer-top{
  position: absolute;
  top: 12px;
  left: 10px;
  width: 90px;
  & >p{
    font-size: 1.3rem;
    color: white;
  }
}

.center{
  margin: 0;
  position: relative;
  left: 12px;
  bottom: -36%;
  padding: 0;
  & > .ul-small{
    font-size: 7px;
    font-style: noen;;
  }
  & > .ul-big{
    font-size: 9px;
  }
}
