{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Beats</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{% static "style/style.css" %}'>
   
</head>

<body>
    {% if completed %}                 
    <script>
        alert('{{completed}}')
    </script>
    {% endif %}

    <div id="global-container">
        
        <div id="container">
            <div class="mobile-menu__cover"></div>
            <header class="header">
                <div class="header_inner">
                    <div class="header_logo">
                        <a href="#home"><img  src="{% static 'image/logo-alpha.png' %}"class="logo__img"></a>
                    </div>
                    <!-- header_logo -->
                    <nav class="header_nav">
                        <ul class="header_ul">
                            <li class="header_li"><a href="#home">Home</a></li>
                            <li class="header_li"><a href="#feature">Feature</a></li>
                            <li class="header_li"><a href="#service">Service</a></li>
                            <li class="header_li"><a href="#news">News</a></li>
                            <li class="header_li"><a href="#recruit">Recruit</a></li>

                        </ul>
                    </nav>
                    <li class="header-button"><a href="#form" class="btn btn--circle"><i class="far fa-envelope"></i>Contact<i class="fas fa-angle-down fa-position-bottom"></i></a></li>

                    <header_nav>
                    <div class="mobile-menu">
                        <button class="mobile-menu_button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                <!-- mobile_menu -->

                <!-- header_inner -->
            </header>
            <!-- header -->

            <section class="top-page">
                <div class="home" id="home">
                    <div class="home-image">
                        <img  class= 'img-fade' src="{% static 'image/home.jpeg' %}"  alt="">
                        <!-- <img class="desktop" src="image/home.jpeg" alt=""> -->

                    </div>
                    <!-- home-image -->
                    <div class="home_content">
                      
                    <p class="home-subtitle top">さらに上のマーケティングを</p>   
                    <h1 class = "home-title"> Market Hack</h1>
                    <!-- <div class="line"></div> -->

                    <p class="home-subtitle bottom">お客様のパートナーとして直面している課題を最適な方法で解決までサポートします。</p>            
                    </div>
                    <!-- home-content -->
                </div>
                <!-- home -->
            </section>
            <!-- top-page -->


            <section class="main-page">
                <div id="feature"></div>
                <div class="feature" >
                    <header>
                        <h1>＜Feature＞</h1>
                        <h2>Media Beatsの特徴</h2>
                    </header>
                    
       
                    <div class="feature-main">
                        <div class="feature-content">
                            <div class="feature-img"><img src="{% static 'image/market_research.svg' %}" alt=""></div>
                            <div class="feature_description">
                                <div class="feature_title"><h >Market Research</h>
                                    <!-- <div class="line"></div> -->
                                </div>
                                
                            <div class="feature_comment"><p>あらゆる市場のトレンドや顧客のニーズを調査。データを活用して市場の動向を予測、分析し、ビジネスにおいて正確な施策を検討します。</p></div> 
                            </div>
                            
                        </div>
                        <div class="feature-content">
                            <div class="feature-img"><img src="{% static 'image/consulting.svg' %}"alt=""></div>
                            <div class="feature_description">
                            <div class="feature_title"><h >Consulting
                                <!-- <div class="line"></div> -->
                            </h>
                                
                            </div>

                            <div class="feature_comment"><p>お客様と綿密なコミュニケーションを図り、顕在化している課題だけでなく、潜在的な課題までヒアリングします。経営戦略や市場の状況に合わせて、お客様にとっての最適なソリューションを提案。</p></div> 
                        </div>

                        </div>
                        <div class="feature-content">
                            <div class="feature-img"><img src="{% static 'image/digital_marketing.svg' %}" alt=""></div>
                            <div class="feature_description">
                            <div class="feature_title"><h >Digital Marketing</h>
                                <!-- <div class="line"></div> -->
                            </div>

                            <div class="feature_comment"><p>Twitter、YouTube、Instagramを初めとした各種SNSを活用したマーケティングを実行します。ヒアリング結果を元にして、お客様の要望に合う最適なSNSマーケティングを提案、支援します。</p></div> 
                        </div>

                        </div>
                        <div class="feature-content">
                            <div class="feature-img"><img src="{% static 'image/seo.svg' %}"  alt=""></div>
                            <div class="feature_description">
                            <div class="feature_title"><h >SEO Marketing</h>
                                <!-- <div class="line"></div> -->
                            </div>
                           <div class="feature_comment"><p>検索エンジンの動向を分析し、お客様の業種業界において最適なSEO施策を検討し、提案します。最新のSEOアルゴリズムを踏まえたマーケティングを行うため、SEOに対して効果的に働きます。</p></div> 
                        </div>

                        </div>
                   </div>
                    <!-- feature-main -->
                </div>
                <!-- feature -->

               
                
                <div class="service">
                    <div id="service"></div>

                    <header>
                        <h1>＜Service＞</h1>
                        <h2>Media Beatsのサービス</h2>
                    </header>

                    <div class="service-container">
                        <div class="swiper-container">
                            <!-- Additional required wrapper -->
    
                           
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <img src="{% static 'image/hero1.jpeg' %}"  alt="">
                                    <div class="swiper-slide-content">
                                        <h2>Webメディアの受託運営</h2>
                                        <div class="line"></div>
                                        <p >専門のマーケティング集団がWebメディアの受託運営を致します。グロースハックに必要なマーケティングプランを立案し、それぞのプラットフォームに最適な運営を実施。お客様の利益の最大化へ貢献します。</p>
                                    </div>
                                    <!-- swiper-content -->
                                </div>
                                <!-- swiper-slide -->
                                <div class="swiper-slide">
                                    <img src="{% static 'image/hero2.jpeg' %}"  alt="">
                                    <div class="swiper-slide-content">
                                        <h2>SNSマーケティング支援</h2>
                                        <div class="line"></div>
                                        <p>Twitter、YouTube、Instagramなど最新のSNSにおいて最適な運用を支援します。SNSを活用した認知の獲得や、具体的な集客の流れをトータルサポート。SNSのプロフェッショナルがお客様のビジネスを支援します。</p>
                                    </div>
                                    <!-- swiper-content -->
                                </div>
                                 <!-- swiper-slide -->
    
                                <div class="swiper-slide">
                                    <img src="{% static 'image/hero3.jpeg' %}"  alt="">
                                    <div class="swiper-slide-content">
                                        <h2>Webコンサルティング</h2>
                                        <div class="line"></div>
                                        <p>SEOでの効果的な施策を提案
                                            既にメディアを運営されている方で、さらにSEO順位を改善したい方をサポートします。現在の市場状況を分析し、最適なマーケティングソリューションを提案していきます。</p>
                                    </div>
                                    <!-- swiper-content -->
                                </div>
                                 <!-- swiper-slide -->
                            </div>
                                <!-- swiper-wrapper -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>                  
                        </div>
                        <!-- swiper-container -->
                    </div>
                     <!-- service-containner -->
                   
                   

                </div>
                <!-- service -->
                <div class="news">
                    <div id="news"></div>
                    <header>
                        <h1>＜News＞</h1>
                        <h2>Media Beatsのニュース</h2>
                    </header>
                    <div class="news-container">
                        <div class="news-block">
                            <div class="news-img">
                                <img src="{% static 'image/fx-plus.png' %}" alt="">
                            </div>
                            <div class="news-date">
                                <p>2020年8月4日</p>
                            </div>
                            <div class="news-detail">

                                <!-- date -->
                                <div class="news-title">
                                    <h2>FX Plus　様</h2>
                                </div>
                                <!-- news-title -->
                                <div class="news-comment">
                                    <p>金融サイトFX Plus様より記事制作のご依頼を頂きました。</p>
                                </div>
                                <!-- <news-comment> -->
                            </div>
                            <!-- news-detail -->
                        </div>
                        <!-- <block1 -->

                            <div class="news-block">
                                <div class="news-img">
                                    <img src="{% static 'image/gear.png' %}"  alt="">
                                </div>
                                <div class="news-date">
                                    <p>2020年8月28日</p>
                                </div>
                                <div class="news-detail">
         
                                    <!-- date -->
                                    <div class="news-title">
                                        <h2>株式会社 GEAR　様</h2>
                                    </div>
                                    <!-- news-title -->
                                    <div class="news-comment">
                                        <p>株式会社 GEAR様よりWebメディア作成のご依頼を頂きました。
                                        </p>
                                    </div>
                                    <!-- <news-comment> -->
                                </div>
                                <!-- news-detail -->
                            </div>
                            <!-- <block2-->


                                <div class="news-block">
                                    <div class="news-img">
                                        <img src="{% static 'image/beyond-standard.png' %}" alt="">
                                    </div>
                                    <div class="news-date">
                                        <p>2020年9月8日</p>
                                    </div>
                                    <div class="news-detail">
       
                                        <!-- date -->
                                        <div class="news-title">
                                            <h2>株式会社Beyond Standard　様</h2>
                                        </div>
                                        <!-- news-title -->
                                        <div class="news-comment">
                                            <p>株式会社Beyond Standard様よりWebメディア作成のご依頼を頂きました。
                                            </p>
                                        </div>
                                        <!-- <news-comment> -->
                                    </div>
                                    <!-- news-detail -->
                                </div>
                                <!-- <block3-->
                                
                    </div>
                    <!-- conteiner -->
                </div>
                <!-- news -->

                <div class="recruit">
                    <div  id="recruit"></div>
                    
                    <header>
                        <h1>＜Recruit＞</h1>
                        <h2>Media Beatsの採用情報</h2>
                    </header>
                    
                    <!-- recruit-title -->
                        <div class="recruit-main">


                            <div class="recruit-content">
                                <div class="recruit-img"><img src="{% static 'image/recruit.jpeg' %}" alt=""></div>
                                <div class="recruit-description">
                                    <div class="recruit-job" id="recruit_title">
                                        <div class="recruit-title "><h3>職種：</h3></div>
                                        <div class="recruit-info" ><p id="p">&nbsp;&nbsp; &nbsp;&nbsp;  Webライター</p></div>
                                    </div>
                                    <div class="line2"></div>
                                    <!-- recruit-job -->
                                    <div class="recruit-job">
                                        <div class="recruit-title"><h3>給与：</h3></div>
                                        <div class="recruit-info"><p >200,000円〜</p></div>
                                    </div>
                                    <!-- recruit-salary -->
                                    <div class="recruit-job">
                                        <div class="recruit-title"><h3>契約：</h3></div>
                                        <div class="recruit-info"><p >業務委託</p></div>
                                    </div>
                                    <!-- recruit-how -->
                                    <div class="recruit-job">
                                        <div class="recruit-title"><h3>経験：</h3></div>
                                        <div class="recruit-info"><p >Webライターとして1年以上の活動した経験</p></div>
                                    </div>
                                    <!-- recruit-experience -->
                                </div>
                                <!-- recruit-description -->
                            </div>
                            <!-- recruit-content -->

                            <div class="recruit-content">
                                <div class="recruit-img"><img src="{% static 'image/web_director.webp' %}"  alt=""></div>
                                <div class="recruit-description">

                                    <div class="recruit-job" id="recruit_title">
                                        <div class="recruit-title "><h3>職種：</h3></div>
                                        <div class="recruit-info"><p id="p"> &nbsp;   Webディレクター</p></div>
                                    </div>
                                    <div class="line2"></div>

                                    <!-- recruit-job -->
                                    <div class="recruit-job">
                                        <div class="recruit-title"><h3>給与：</h3></div>
                                        <div class="recruit-info"><p>300,000円〜</p></div>
                                    </div>
                                    <!-- recruit-salary -->
                                    <div class="recruit-job">
                                        <div class="recruit-title"><h3>契約：</h3></div>
                                        <div class="recruit-info"><p >業務委託</p></div>
                                    </div>
                                    <!-- recruit-how -->
                                    <div class="recruit-job">
                                        <div class="recruit-title"><h3>経験：</h3></div>
                                        <div class="recruit-info"><p>Webディレクターとして2年以上活動した経験（実績重視）</p></div>
                                    </div>
                                    <!-- recruit-experience -->
                                </div>
                                <!-- recruit-description -->
                            </div>
                            <!-- recruit-content -->

                            <div class="recruit-content">
                                <div class="recruit-img"><img src="{% static 'image/project.webp' %}" alt=""></div>
                                <div class="recruit-description">
                                    <div class="recruit-job" id="recruit_title">
                                        <div class="recruit-title"><h3>職種：</h3></div>
                                        <div class="recruit-info"><p id="p">プロジェクトマネジャー</p></div>
                                    </div>
                                    <div class="line2"></div>

                                    <!-- recruit-job -->
                                    <div class="recruit-job">
                                        <div class="recruit-title"><h3>給与：</h3></div>
                                        <div class="recruit-info"><p>500,000円〜</p></div>
                                    </div>
                                    <!-- recruit-salary -->
                                    <div class="recruit-job">
                                        <div class="recruit-title"><h3>契約：</h3></div>
                                        <div class="recruit-info"><p>正社員</p></div>
                                    </div>
                                    <!-- recruit-how -->
                                    <div class="recruit-job">
                                        <div class="recruit-title"><h3>経験：</h3></div>
                                        <div class="recruit-info"><p>Webマーケティング領域で5年以上活動した経験（実績重視）</p></div>
                                    </div>
                                    <!-- recruit-experience -->
                                </div>
                                <!-- recruit-description -->
                            </div>
                            <!-- recruit-content -->


                        </div>
                        <!-- recruit-main -->
                    </div>
                <!-- recruit -->    
                </section>
            <!-- main-page -->

            <!-- <div class="border"></div> -->

            <section class="contact" >
                <div id="form"></div>
                
                                        
                <header>
                    <h1>＜Contact＞</h1>
                    <h2>Media Beatsへのお問い合わせ</h2>
                </header>
                
                

                <form action="" method="POST" class="contact-form"> 
                    {% csrf_token %}  

                    <p><input class="contact-input" type="text" name="name" required placeholder="名前"></p>
                    <p><input class="contact-input" type="email" name="email" required placeholder="メールアドレス"></p>
                    <p><input class="contact-input" name="subject" type="text" required  placeholder="件名"></p>
                    <p> <textarea class="contact-input textarea" name="content" id="" cols="30" rows="20" placeholder="内容"></textarea></p>
                    <p class="no-border">
                        <input type="submit" value="送信" class="input_button">
                        <!-- <input class="btn btn--circle" type="submit" value="送信"> -->
                    </p>   
                </form>
                    
            </section>
            <!-- contact -->
            <div class="footer">

                <footer class="footer-container 1">
                    <div class="footer-content">
    
                        <div class="footer-top"><p>​会社概要</p></div>

                        <ul class="center">
                            <li class="ul-big">会社名</li>
                            <li class="ul-small">株式会社Media Beats</li>
                            <br>
                            <li class="ul-big">住所</li>
                            <li class="ul-small">東京都中央区銀座1-22-11　<br>銀座大竹ビジデンス 2F</li>
                        </ul>

                    </div>
                    <!-- footer-company -->
                    <div class="footer-content 2">
                        <ul class="center">
                
                            <li class="ul-big">代表取締役</li>
                            <li class="ul-small">櫻庭　悠汰</li>
           
                            <br>               
                            <li class="ul-big">資本金</li>
                            <li class="ul-small">1,000,000円</li>
                        </ul>

                    </div>

                    <!-- footer-detail -->
                    <div class="footer-content 3">
                        <div class="footer-logo"><img src="{% static 'image/logo-alpha.png' %}"alt=""></div>

                        <div class="footer-bottom-copyright">
                            <p>&copy;2020 Media Beats</p>
                        </div>

                    </div>
                    <!-- copy-right -->
                </footer>

            </div>
            <!-- footer -->
        </div>
        <!-- container -->
        <nav class="mobile-menu_bottom">
            <ul class="mobile-menu__main">
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#home">
                        <span class="main-title">Home</span>
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#feature">
                        <span class="main-title">Feature</span>
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#service">
                        <span class="main-title">Service</span>
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#news">
                        <span class="main-title">News</span>
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#recruit">
                        <span class="main-title">Recruit</span>
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#form">
                        <span class="main-title"><div href="" class="btn btn--circle"><i class="far fa-envelope"></i> Contact<i class="fas fa-angle-down fa-position-bottom"></i></div></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- global-container -->

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'script/hero-slider.js' %}"></script>

    <script src= "{% static 'script/scroll-observer.js' %}"></script>

    <script src="{% static 'script/main.js' %}"></script>

</body>
</html>